<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.Extensions.CognitoAuthentication" version="1.0.3" targetFramework="net472" />
  <package id="AWSSDK.CognitoIdentity" version="3.3.101.87" targetFramework="net472" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.3.109.41" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.3.107.1" targetFramework="net472" />
  <package id="AWSSDK.SecurityToken" version="3.3.105.5" targetFramework="net472" />
</packages>